input, button {
  outline: 0;
}

#interfaceInput {
  display: flex;
  margin-bottom: 10px;
  border-radius: 8px;
  justify-content: space-between;
}

tr {
  display: flex;
  height: 30px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  border-bottom: 1px solid aliceblue;
}

td {
  font-family: monospace;
  font-size: 24px;
  margin: 0 5px;
}

#toDoList {
  width: 700px;
  margin: auto;
  padding: 8%;
  position: relative;
  min-height: 300px;
  border-radius: 8px;
  background: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
}

#list {
  display: table;
  width: 100%;
  background: rgba(255,255,255,.3);
  border-collapse: separate;
  border-spacing: 7px 11px;
  border-radius: 8px 8px 0 0;
}

p-selectButton {
  right: 0;
  position: absolute;
}
