<div id="toDoList">
  <div id="interfaceInput">
    <app-input [(ngModel)]="todoTitle"></app-input>
    <app-button
      (action)="addTasks()"
      label="Добавить">
    </app-button>
  </div>
  <table id="list">
    <app-to-do-list
      *ngFor="let todoItem of todoItems"
      [todo]="todoItem"
      [selectedType]="selectedType"
    ></app-to-do-list>
  </table>
  <div style="width: 100%; position: relative">
    <p-selectButton
      [options]="selectTypes"
      [(ngModel)]="selectedType"
      (onChange)="filteredBySelectedType()">
    </p-selectButton>
  </div>
</div>
